/StockMarketApp.xcworkspace/xcuserdata/douglas.xcuserdatad/UserInterfaceState.xcuserstate
/StockMarketApp.xcworkspace/xcuserdata/douglas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/StockMarketApp.xcodeproj/project.xcworkspace/xcuserdata/douglas.xcuserdatad/UserInterfaceState.xcuserstate
